@charset "utf-8";

body, html{width: 100%;}
/* commone */
.container{
    width: 980px; margin: 0 auto;
}
.font_paly400{
    font-family: 'play';
    font-weight: 400;
}
.font_paly700{
    font-family: 'play';
    font-weight: 700;    
}
.box1{width: 234px; height: 240px; padding: 20px}
.box2{width: 234px; height: 240px; padding: 28px}

/* headr */
.headerWrap{background-color: #fff; width: 100%;}
.header{    
    height: 100px;  
    display: flex; justify-content:space-between; align-items: center;
}
.header h1{ width:125px;}

form{position: relative;}
.searchWrap {position: absolute; width: 400px; top: 0%; left: 50%;  transform: translate(-50%, 50%);}
.searchWrap .inp{
    width: 400px; height: 45px; text-indent: 90px;
    border: 3px solid #E44033;
    border-radius: 25px;
}
.searchWrap p.title,.icon{position: absolute;top: 50%;transform:translateY(-50%)}
.searchWrap p.title{
    left: 15px; line-height: 14px; ;
}
.searchWrap .icon{right: 10px;}
.searchWrap .icon{
    width: 30px;height: 30px;background-color: #fff;
    border-radius: 50%;display: flex;justify-content: center;
    align-items: center;font-size:12px;
    border: 1px solid #ddd;
}

.header .sns ul{
    width: 164px;
    display: flex; justify-content:space-between;
}

.headerWrap hr{border-width: 1px 0 0 0; border-color: #E44033;}

/* headr Navbar */
.navbar ul{
    display: flex;
    justify-content:space-between;
}
.navbar ul li{       
    height: 60px; width: calc( 100% / 6 ) ;  
    text-align: center;
    line-height: 60px;
    border-right: 1px solid #E5E5E5;
}
.navbar ul li:first-child {border-left: 1px solid #E5E5E5;}

/* section */
#section{
    -height: 1200px;
    background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    overflow: hidden;
    margin: 0 auto;

}
.sec1st{height: 560px; width: 980px; margin-bottom: 16px; margin-top: 60px;} 
.sec2st{height: 240px; width: 980px; margin-bottom: 16px;}
.sec3st{height: 240px; width: 980px; margin-bottom: 75px;}


/* section set1*/
.sec1st {position: relative;}
.sec1st .left_cont{width: 482px; height: 556px;}
.sec1st .right_cont{
    width: 482px; height: 556px; background-color:bisque;
    position:absolute; right:0; top:0;
}

.sec1st .left_cont .reservation{
    height: 300px; width: 482px; background-color: #fff; margin-bottom: 16px;
}
.sec1st .left_cont .product{
    height: 240px; width: 482px;
}
.sec1st .left_cont .product ul li{float: left;margin-right: 14px;}
.sec1st .left_cont .product ul li:last-child{margin-right: 0;}

.sec1st .cont01{background-image: url(../images/poto_01.png); color: #fff;}
.sec1st .cont02{background-image: url(../images/poto_02.png); color: #fff;}
.sec1st .product ul li{position: relative;}
.sec1st .cont01 h2,.cont02 h2{font-size: 30px;}
.sec1st .cont01 .price,.cont02 .price{
    height: 35px; width: 234px; background-color: rgba(0, 0, 0, 0.6);
    position: absolute; left:0px; bottom: 0px; padding: 0 25px; line-height: 35px;
}
.sec1st .product .cont01 .price ul,.cont02 .price ul{position: relative;}
.sec1st .cont01 .won,.cont02 .won{font-size: 12px;}
.sec1st .cont01 .price .bNxt, .cont02 .price .bNxt{position: absolute; right: 0px; top:10px}

/* section set2*/
.sec2st ul{display: flex; justify-content:space-between; align-items: center;}

/* sec2st hotel cont03-04 */
.sec2st .cont03{background-image: url(../images/poto_03.png); position: relative;}
.sec2st .cont04{background-image: url(../images/poto_04.png); position: relative;}
.sec2st .cont03 .hotel, .cont04 .hotel{
    height: 75px; width: 234px; background: #fff;
    position: absolute; left:0px; bottom: 0px; padding: 0 25px;
}
.sec2st .cont03 .hotel h3, .cont04 .hotel h3{font-size: 18px; letter-spacing: -1.5px; padding-top: 12px; padding-bottom: 5px;}

/* sec2st weather cont05 */
.sec2st .cont05{background-image: url(../images/poto_05.png); position: relative;}
.sec2st .cont05 .weather{
    height: 75px; width: 234px; background: #fff;
    position: absolute; left:0px; bottom: 0px; padding: 0 25px;    
}
.sec2st .cont05 h2{color: #fff; text-align: center;}
.sec2st .cont05 .weather h3{font-size: 18px; letter-spacing: -0.05em; padding-top: 12px; padding-bottom: 5px;}
.sec2st .cont05 .weather p{letter-spacing: -0.08em}


/* sec2st review cont06 */
.sec2st .cont06{background-image: url(../images/poto_06.png); position: relative;}
.sec2st .cont06 h4{color:#333; font-size: 25px; line-height: 34px; letter-spacing: -0.06em; text-align: center; padding-top: 5px;}
.sec2st .cont06 h4 span{color:#E44033;}
.sec2st .cont06 p{
    display: block;
    color: #E44033; width: 120px; height: 32px; text-align: center; letter-spacing: -0.06em;
    border: 1px solid #E44033; padding: 5px 10px; font-size: 16px;
    position: absolute; top:45%; left: 25%;
}

/* section set3*/
.sec3st ul{display: flex; justify-content:space-between; align-items: center;}
/* sec3st 여행정보 cont07-8-09-10 */
.sec3st .cont07{background-image: url(../images/poto_07.png);}
.sec3st .cont07{background-image: url(../images/poto_07.png);}
.sec3st .cont08{background-image: url(../images/poto_08.png);}
.sec3st .cont09{background-image: url(../images/poto_09.png);}
.sec3st .cont10{background-image: url(../images/poto_10.png);}

.sec3st ul li{color: #fff; text-align: center;  position: relative; z-index: 2;}
.sec3st ul li h5{font-size: 20px; padding-bottom: 10px; z-index: 2;}
.sec3st ul li p{font-size: 14px; line-height: 18px; letter-spacing: -0.09em; padding-bottom: 20px;  z-index: 2;}
.sec3st ul li span{
    position: absolute; left: 50%;
    display: block; font-size: 18px; font-weight: bold; width: 25px; height: 20px; padding-bottom: 20px;
    border-radius: 50%; border: 2px solid #FFF; z-index: 2;}
.sec3st ul li .gr{
    content: ""; display: block; width: 234px;  height: 240px; 
    position: absolute; left: 0; top: 0;   
    background: linear-gradient(180deg, #000000 0%, rgba(42, 42, 42, 0) 54.69%, rgba(51, 51, 51, 0) 100%);
    z-index: -1;
}
.sec3st .cont10{position: relative;}
.sec3st .cont10 .title{font-size: 16px; font-weight: bold;}
.sec3st .cont10 img{position: absolute; top:45%; left: 40%;}





/* footer */
.footerWrap{height: 280px; background-color: beige;}
