@charset "utf-8";

body{font-family: 'Noto Sans','Noto Sans KR', sans-serif;}

.headerWrap{width: 1280px; margin: 0 auto;}
.headerWrap .logoWrap{float:left;width: 400px; margin: 21px 0 0 32px ;}

.mainMenu ul{float: right; width: 510px;}
.mainMenu ul li{
    float: left; margin: 0 auto;
    display: block; font-size: 20px; font-weight: 400;  line-height: 76px;    
    letter-spacing: -0.03em; text-align: center;
    width:calc( 100% / 3 );
}

.visualWrap{
    margin: 0 auto; position: relative; 
    height: 100vh; min-height: 600px; margin-bottom: 168px;}
.visualWrap ul{}
.visualWrap li>img{width: 100%; }
.visualWrap .txtWrap{    
    margin: 0 auto; width: 1216px; color: #fff; padding-top: 320px;
    margin-bottom: 132px;
}

.visualWrap h2{
    font-size:80px; font-weight: 700; letter-spacing: -2.6px; padding-bottom: 32px;
}

.visualWrap .txtWrap .txt p{padding-bottom: 68px;}

.visualWrap .txtWrap .txt{position: relative;}

.visualWrap .txtWrap .txt span:after{    
    content: "";position: absolute; bottom: 0; left: 0; width: 455px; height: 2px;
    background-color: #fff; display: block;   
}

/* background */
.visualWrap .slideItem{
    height: 100vh; min-height: 600px;
    background-color: orange;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


img.prev,img.next{position: absolute; bottom:250px; margin-top: -50px; cursor: pointer;}
img.next{left: 400px;}
img.prev{left: 350px;}
/* .next{position: absolute; right:30%; top:50%; margin-top: -50px; cursor: pointer;}
.prev{position: absolute; left:70%; top:50%; margin-top: -50px; cursor: pointer;} */

/* .visualWrap .slideBtn{   
    position: absolute; top:50%; margin-top: 120px; cursor: pointer;   
    background-color: #ffd44a;
} */





.section .sec01{position: relative}
.section .sec01 h3{    
    font-size: 44px; font-weight: 700; line-height: 1.41;
    letter-spacing: -2px; text-indent: -2px; padding-bottom:25px ;
}
.section .sec01 p:after {
    content: "";position: absolute; bottom: 0; left: 0; width: 70px; height: 5px;
    background-color: #ffd44a; display: block;
}

.section .sec02 h4{    
    padding-left: 624px; font-size: 18px; font-weight:100; line-height: 26px; letter-spacing: 0.6px;
    padding-bottom: 100px;
}

.section .sec03 ul{
    margin-bottom: 185px;
}
.section .sec03 li{
    float: left;width:calc( ( 100% - 32px * 2 ) / 3 );
    margin-right:32px; 
    position: relative;   
}
.sec03 li:last-child{margin-right: 0;}
.sec03 li img{width: 100%; transition: 0.3s;}
.sec03 img:hover{
    transform: translate(0,-20px);
    box-shadow: 0 15px 15px rgba(0,0,0,0.3);     
    cursor: pointer;
    
}
.sec03 li h5{
    padding: 26px 0 18px 28px;  font-size: 21px;  font-weight: 700;
}
.sec03 li p{
    padding-left: 28px; font-size: 15px; line-height: 24px; letter-spacing: -0.6px;
}


.sec04 {position: relative; padding-bottom: 160px;}
.sec04 .txtBox{
    width: 1114px;  height: 338px;  padding: 102px 520px 102px 104px;
    -webkit-box-sizing: border-box;  box-sizing: border-box;
    background-color: #ffd44a;    
}
.sec04 .txtBox p{font-size: 28px; font-weight: 500;  line-height: 40px;  letter-spacing: -1px;}

.sec04 .imgBox{
    position: absolute; top: 102px; right: 0;  width: 592px;  height: 360px;
   
}


/* container  */
.container{width: 1216px;margin: 0 auto}

/* notice */

.notice{ padding: 160px 0; background-color: #F7F8F9;}
.notice .not01{position: relative;;}

.notice .not01 h3{    
    font-size: 44px; font-weight: 700; line-height: 1.41;
    letter-spacing: -2px; text-indent: -2px; padding-bottom:25px ;
}
.notice .not01 p:after{
    content: ""; position: absolute; bottom: 0; left: 0; width: 70px; height: 5px;
    background-color: #ffd44a; display: block;
}

.notice .not02{position: relative; margin-bottom: 100px;}
.notice .not02 ul{position: absolute; right: 0; }
.notice .not02 li{
    float: left; display: inline-block; height: 38px; margin-left: 8px; padding: 0 24px;
    font-size: 14px;  line-height: 38px; font-weight: normal;
}
.notice .not02 li:hover{
    border-radius: 19px; color: #1e1e1e;  background-color: #f0f1f2;
    font-weight: bold; 

}

.notice .not03 li{
    float: left; width: calc( ( 100% - 30px * 2 ) / 3 );
    height: 466px; padding: 35px;      
    box-sizing: border-box;
    margin-right: 30px;
    background-color: #fff;
    transition:0.3s;
    position: relative;
}
    

.notice .not03 li:last-child{
    margin-right: 0;
}


.notice .not03 .not_card h3{
    font-size: 21px; font-weight: 500; line-height: 32px; margin-bottom: 18px;
}

.notice .not03 li:hover{
    transform: translate(0,-20px);
    box-shadow: 0 20px 20px rgba(0,0,0,0.3);
    cursor: pointer;
}

.notice .not03 li:last-child:hover {
    transform: translate(0,-20px);
    box-shadow: 0 20px 20px rgba(0,0,0,0.3);   
}

.notice .not03 li p.txt{
    font-size: 15px;line-height: 24px; color: #787878;
}

.notice .not03 li p.data{
    font-size: 13px;line-height: 24px; color: #A5A5A5;
    position: absolute; left: 30px; bottom: 30px;
}


 

