@charset "utf-8";

body{font-family: 'Noto Sans','Noto Sans KR', sans-serif;}

.headerWrap{width: 1280px; margin: 0 auto;}
.headerWrap .logoWrap{float:left;width: 400px; margin: 21px 0 0 32px ;}

.mainMenu ul{float: right; width: 510px;}
.mainMenu ul li{
    float: left; margin: 0 auto;
    display: block; font-size: 20px; font-weight: 400;  line-height: 76px;    
    letter-spacing: -0.03em; text-align: center;
    width:calc( 100% / 3 );
}

.visualWrap{position: relative; height: 100vh; min-height: 600px; margin-bottom: 168px;}
.visualWrap ul{}
.visualWrap li>img{width: 100%; }
.visualWrap .txtWrap{    
    margin: 0 auto; width: 1216px; color: #fff; padding-top: 320px;
    margin-bottom: 132px;
}

.visualWrap .btnWrap .prev{
    
}

/* background */
.visualWrap .slideItem{
    height: 100vh; min-height: 600px;
    background-color: orange;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.next{position: absolute; right:200px; top:50%; margin-top: -50px; cursor: pointer;}
.prev{position: absolute; left:200px; top:50%; margin-top: -50px; cursor: pointer;}



.visualWrap h2{
    font-size:80px; font-weight: 700; letter-spacing: -2.6px; padding-bottom: 34px;
}




.section .sec01{position: relative}
.section .sec01 h3{    
    font-size: 44px; font-weight: 700; line-height: 1.41;
    letter-spacing: -2px; text-indent: -2px; padding-bottom:25px ;
}
.section .sec01 p:after {
    content: "";position: absolute; bottom: 0; left: 0; width: 70px; height: 5px;
    background-color: #ffd44a; display: block;
}

.section .sec02 h4{    
    padding-left: 624px; font-size: 18px; font-weight:100; line-height: 26px; letter-spacing: 0.6px;
    padding-bottom: 100px;
}

.section .sec03 li{
    float: left;width:calc( ( 100% - 32px * 2 ) / 3 );
    margin-right:32px; 
    position: relative;   
}
.sec03 li:last-child{margin-right: 0;}
.sec03 li img{width: 100%; padding-bottom: 25px;}
.sec03 li:hover .img{
    position: absolute; top: -10px;left: 0; transition: 0.3s;
}
.sec03 li h5{
    padding-left: 28px;  font-size: 21px;  font-weight: 700;  padding-bottom: 18px;
}
.sec03 li p{
    padding-left: 28px; font-size: 15px; line-height: 24px; letter-spacing: -0.6px;
}



/* container  */
.container{width: 1216px;margin: 0 auto}


/* bxSlider */
