@charset "utf-8";

.container{
    width: 1200px; margin: 0 auto;
}


/* header  */
#header{}
.headerTopWrap{background-color: #333;}

.headerTop .collWrap{float: left;}
.headerTop .collWrap li{float: left;width: 120px;background: #1296ad;font-size: 15px;margin-right: 1px; font-weight: 600px;}
.headerTop .collWrap li a{color:#fff;display: block;line-height: 40px;text-align: center;}
/* .headerTop .collWrap li a:hover{background-color: #fff;color:#000} */
.headerTop .collWrap li:hover{background: #fff;}
.headerTop .collWrap li:hover a{color:#333;}

.headerTop .collWrap li.active{background: #fff;}
.headerTop .collWrap li.active a{color:#333}


.headerTop .utilWrap{float: right;}
.headerTop .utilWrap li{float: left;font-size: 12px; }
.headerTop .utilWrap li>a{
    color:#ddd;display: block;height: 40px;padding: 0 10px;
    display: flex;justify-content: center;align-items: center;
}
.headerTop .utilWrap li:nth-child(2){padding-top: 10px;}
.headerTop .utilWrap li:nth-child(2) a{
    width: 20px;height: 20px;background-color: #fff;color:#000;
    float: left;margin-right: 1px; font-size: 16px; font-weight: bold;
    padding-bottom: 6px; padding-right: 11px;
}



.headerMenu{
   height: 122px;
   position: relative;    
}
.headerMenu h1{padding-top: 35px;}
.headerMenu .mainMenu{ 
    _width: 700px;
    position:absolute;
    left:calc( 50%  - 260px );top:25px;   
}
.headerMenu .mainMenu ul li{
    float: left; 
    /* line-height: 60px; margin-right:20px; */
    font-size: 16px; font-weight: 400;
    _background-color: pink;
    position: relative;
   
}
.headerMenu .mainMenu ul li a{  
    padding: 20px;
    display: block;
    
    position: relative;
}


.headerMenu .mainMenu ul li:hover a:after{    
    display: block; content: ""; position: absolute;bottom: 5px;
    width:calc( 100% - 40px ); height: 3px; background-color: #1296ad; 
       
}
 

.headerMenu .mainJoin ul{   
    position: absolute;
    top:38px; right: 0;
}
.headerMenu .mainJoin ul li{
    float: left;
    margin-right: 6px;
}
.headerMenu .mainJoin ul li:last-child{    
    margin-right: 0x;
}
.headerMenu .mainJoin ul li a{
    
}

/* section */
#section{
    padding: 65px 0;
    /* height: 1300px; */
    /* background-color: blue; */
    background-image: url(../images/dot.png),url(../images/main_bg1.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;

}

#section .sec1st {}
#section .sec1st .topText{float: left;}
#section .sec1st .topText p{color:#a2d4db; font-size: 40px;}
#section .sec1st .topText h2{color:#e3e3e3; font-size: 55px;}

#section .sec1st .topIcon{float: right; margin-bottom: 56px;}
#section .sec1st .topIcon ul li{float: left; margin-right: 20px;}
#section .sec1st .topIcon ul li:last-child{margin-right: 0px;}
#section .sec1st .topIcon ul li img{margin-bottom: 10px;}
#section .sec1st .topIcon ul li p{color: #e3e3e3; font-size: 14px; text-align: center;}

.sec1st .sliderWrap li>img{width: 100%; }
.sliderWrap .txtWrap{    
    color: #FFF; padding: 100px 0 100px 120px;  height: 450px;    
}

.sliderWrap .txtWrap .txt h2{
    font-size:40px; font-weight: 700; padding-bottom: 5px;
}
.sliderWrap .txtWrap .txt p{padding-bottom: 125px;}
.sliderWrap .txtWrap .moreBtn a{    
 background-color: #1296ad; font-size: 14px; border-radius: 25px;
 box-sizing: border-box;  width: 180px;  height: 40px;
 padding: 0px 30px 0px 30px; text-decoration: none;
 display: flex; justify-content: space-between; align-items: center;  cursor: pointer; 
}
.sliderWrap .txtWrap .moreBtn a:hover{
    border: 1px solid #039db8; font-size: 14px; border-radius: 25px;
    box-sizing: border-box;  width: 180px;  height: 40px;
    padding: 0px 30px 0px 30px; text-decoration: none;
    display: flex; justify-content: space-between; align-items: center;  cursor: pointer; 
   }


/* bsSlider */
.bx-wrapper {
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    /* 다른 브라우저에 보이게 하기 위해서 */
    box-shadow: 0 0 0 transparent;
    border: 0 transparent;            
}

.sliderWrap .btn{   
   position: relative;  
}

.sliderWrap .next,.prev{position: absolute; top:50%; margin-top: -310px; cursor: pointer;}
.sliderWrap .next{right: 20px;}
.sliderWrap .prev{left: 20px;}
.sliderWrap .next,.prev:hover{transition:0.3s;}



.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active,
  .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #039db8;
  }

/* sec2st */
.sec2st .conRight{
    background-image: url(../images/main_right_banner_01.png);height: 450px;
    padding: 100px 30px;
}
.sec2st .conRight .txt p{
    font-size: 30px; color: #e3e3e3; margin-bottom: 80px;
}
.sec2st .conRight .moreBtn a{    
    border: 1px solid #fff; color:#fff; font-size: 14px; border-radius: 25px;
    box-sizing: border-box;  width: 180px;  height: 40px;
    padding: 0px 30px 0px 30px; text-decoration: none;
    display: flex; justify-content: space-between; align-items: center;  cursor: pointer; 
}
 .sec2st .conRight .moreBtn a:hover{    
    background-color: #1296ad; color:#fff; font-size: 14px; border-radius: 25px;
    box-sizing: border-box;  width: 180px;  height: 40px;
    padding: 0px 30px 0px 30px; text-decoration: none;
    display: flex; justify-content: space-between; align-items: center;  cursor: pointer; 
}

/* sec2st 03 Hot link */
.sec2st .hotLinkWrap{background-color: #039db8; height: 450px; padding: 30px;}
.sec2st .hotLinkWrap h3{
    font-size: 20px; font-weight: 400px; color:#fff; margin-bottom: 25px;
    position: relative;
}
.hotLinkWrap h3:after{
    display: block; content: ""; position: absolute; top: 30px; left: 0;
    width: 94px; height: 1px; background-color:#ddd; 
}
.hotBanner li{
    float: left; text-align: center; width:calc( ( 100% - 25px ) / 3 );
    line-height: 13px; margin-right: 12px;
    
}
.hotBanner li:last-child{ margin-right: 0;}
.hotBanner li a{color: #ddd; font-size: 12px;}
.hotBanner li img{margin-bottom: 15px;}

/* sec2st 04 Notice */
.sec2st .noticeWrap{background-color: #004c86; height: 225px; padding: 30px;}
.nTitle li{float: left;}
.nTitle {position: relative;}
.nTitle li h3{position: relative; font-size: 20px; font-weight: 400px; color:#fff; margin-bottom: 25px;}
.nTitle li h3:after{
    display: block; content: ""; position: absolute; top: 30px; left: 0;
    width: 72px; height: 1px; background-color:#ddd; 
}
.nTitle img{position: absolute; right: 0; top:7px}

.nContents ul{position: relative;}
.nContents ul li:last-child{margin-bottom: 0;}
.nContents ul li{margin-bottom: 12px; position: relative; }
.nContents ul li:after{    
    display: block; content: ""; position: absolute; bottom:-7px;
    width: 100%; height: 1px; background-color:#ddd; opacity: 30%;
}
.nContents ul li:last-child a:after{    
    display: none;
}
.nContents ul li span{float: right;}
.nContents ul li a{font-size: 14px; color: #ddd;}
.nContents ul li span{font-size: 12px; color: #ddd; line-height: 20px;}
.nContents ul li{list-style:inside; font-size: 12px; color: #ddd;}

/* sec2st 05 SNS */
.sec2st .snsWrap{padding: 30px;}
.sTitle{position: relative;}
.sTitle h3{
    font-size: 20px; font-weight: 400px; color:#1296ad; margin-bottom: 25px;
    position: relative;
}
.sTitle h3:after{
    display: block; content: ""; position: absolute; top: 30px; left: 0;
    width: 105px; height: 1px; background-color:#1296ad; 
}
.sTitle .sIcon{position: absolute; right: 0; top: 7px; width: 100px;}
.sTitle .sIcon li{float: left; width: calc( 100% / 4 );}
.sNews img{margin-bottom: 10px;}
.sNews p{
    color: #666; font-size: 14px; line-height: 20px;
    letter-spacing: -1px;}

/* sec2st 06 tour */
.sec2st .tourWrap{
    background-image: url(../images/trour_img.png); width: 100%; height: 100%;
    display: flex; align-items:flex-end; 
}
.tourWrap .tTitle {     
    height: 45px; width: 100%; background-color:rgba(0, 0, 0, 0.8);
    padding-top: 180px;
}
.tourWrap .tTitle {     
    height: 45px; background-color: #000; opacity: 0.8;
    text-align: center; padding-top: 10px;
}
.tourWrap .tTitle a{color: #fff; font-weight: 400;}

/* sec2st 07 video */
.sec2st .movieWrap{
    background-image: url(../images/movie_img.png); padding: 30px;
    width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
}
/* sec2st 08 banner */
.sec2st .bannerWrap{width: 100%; height: 100%; color: #FFF;}
.sec2st .bannerWrap .txtWrap{padding: 50px;}
.bannerWrap .txtWrap .txt h2{
    font-size:25px; font-weight: 700; padding-bottom: 5px;
}
.bannerWrap .txtWrap .txt p{padding-bottom: 26px;}
.bannerWrap .txtWrap .moreBtn a{    
    border: 1px solid #fff; color:#fff; font-size: 14px; border-radius: 25px;
    box-sizing: border-box;  width: 180px;  height: 40px;
    padding: 0px 30px 0px 30px; text-decoration: none;
    display: flex; justify-content: space-between; align-items: center;  cursor: pointer;
}
.bannerWrap .txtWrap .moreBtn a:hover{
    background-color: #1296ad; color:#fff; font-size: 14px; border-radius: 25px;
    box-sizing: border-box;  width: 180px;  height: 40px;
    padding: 0px 30px 0px 30px; text-decoration: none;
    display: flex; justify-content: space-between; align-items: center;  cursor: pointer; 
}

        /* swipr */
        .swiper{width: 900px; height: 100%; position: relative;}
        .swiper-slide{
            /* text-align: center;
            font-size: 18px; display: flex;
            justify-content: center; align-items: center; */
        }
        .swiper-pagination {
            position: absolute; left: 0;
        }
       
        

/* footer top */
#footer .fTopWrap{width: 100%; background-color: #333333; }
.fTopWrap .inner ul{display: flex; justify-content:space-between; }
.fTopWrap .inner li{height: 65px;}
.fTopWrap .inner{padding-left: 160px;}
.inner ul li a{
    color: #ddd; font-size: 14px; height: 100%; display: flex; justify-content: center; align-items: center;
}


/* footer bottom */
#footer .footerBottomWrap{
    width: 100%; background-color: #464646; height: 185px; 
}
.footerInfo {padding-top: 38px;}
.footerInfo .addressWrap ul li{ float: left; color: #c0c0c0; font-size: 14px;}
.addressWrap .add01 {width: 160px; padding-right: 100px;}
.addressWrap .add02 {width: 410px;}
.add02 h4,
.add03 h4
{color:#ddd; padding-bottom: 16px;}
.add02 p.copy{font-size: 12px; padding-top: 35px;}
.addressWrap .add03 {width: 440px;}
.addressWrap .add04 {width: 190px;}
.add04 ul li{float: left; margin-right: 3px; padding-bottom: 15px;}
.add04 .site a{
    height: 44px; width: 185px; display: block; background-color: #333;
    color:#ababab; font-size: 14px; text-align: center; line-height: 44px;
}
.movieWrap .video img{display: block; margin: 0 auto; padding-top: 25% ;}

/* sec2st 08 banner */
.sec2st .bannerWrap{width: 100%; height: 100%; color: #FFF;}
.sec2st .bannerWrap li{padding: 50px;}
.bannerWrap .txtWrap .txt h2{
    font-size:25px; font-weight: 700; padding-bottom: 5px;
}
.bannerWrap .txtWrap .txt p{padding-bottom: 26px;}
.bannerWrap .txtWrap .moreBtn a{    
    border: 1px solid #fff; color:#fff; font-size: 14px; border-radius: 25px;
    box-sizing: border-box;  width: 180px;  height: 40px;
    padding: 0px 30px 0px 30px; text-decoration: none;
    display: flex; justify-content: space-between; align-items: center;  cursor: pointer;
}
.bannerWrap .txtWrap .moreBtn a:hover{
    background-color: #1296ad; color:#fff; font-size: 14px; border-radius: 25px;
    box-sizing: border-box;  width: 180px;  height: 40px;
    padding: 0px 30px 0px 30px; text-decoration: none;
    display: flex; justify-content: space-between; align-items: center;  cursor: pointer; 
}




#section .sec2st>ul>li{float: left;width: 300px;height: 225px;}
/* 꼭 > 을써야 한다 다음에 써야 할 것이 있기 때문에 */





#section .sec2st>ul>li{background: white;}
#section .sec2st>ul>li:nth-child(2n){background-color:pink;}

#section .sec2st>ul>li:nth-child(1){width: 900px; height: 450px;}
#section .sec2st>ul>li:nth-child(2){height: 450px;}
#section .sec2st>ul>li:nth-child(3){}
#section .sec2st>ul>li:nth-child(4){}
#section .sec2st>ul>li:nth-child(5){}
#section .sec2st>ul>li:nth-child(6){}
#section .sec2st>ul>li:nth-child(7){}
#section .sec2st>ul>li:nth-child(8){width: 900px;}