@charset "utf-8";
/********** css responsive init **********/
.container{width: 1240px;margin: 0 auto;}

/* header */
#header{position: fixed; width: 100%; background: #fff;}
.navbarWrap{display: flex; padding: 20px 0;}
.navbar {margin-left: auto; _position: relative;}
.navbar>ul{display: flex; height: 100%;}
.navbar>ul>li{position: relative;}
.navbar>ul>li>a{
    height: 100%; display: flex;align-items: center;justify-content: center;
    padding: 0 30px; font-size: 18px; font-weight: bold;
}
.navbar>ul>li .aBar{
    position: absolute;width: 100%; height: 3px; background-color: red; bottom: 0;
    transform: scale(0); transition: 0.3s;
}


.navbar>ul>li .submenu{
    background-color:#fff;
    position: absolute; top:43px; width: 100%; padding: 10px 10px 20px 10px;
    border-radius:0 0 8px 8px; transform: translateY(20px); transition: 0.3s;
    opacity: 0; visibility: hidden; box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.submenu li{display: block; line-height: 30px; text-align: center;}
.navbar>ul>li:hover .submenu{transform: translateY(0px); opacity: 1; visibility: visible;}
.navbar>ul>li:hover .aBar{transform: scale(1);}

.toggle{
    width: 40px;height: 40px;background: skyblue;
    _display: flex;
    justify-content: center;align-items: center;
    display: none;
}
.toggle div{
    width: 24px;height: 3px;background: #000; position: absolute; border: 2px;
}
.toggle .bar1{transform: translateY(-8px);}
.toggle .bar3{transform: translateY(8px);}


/* visual */
.visualWrap{
    height: 100vh;
    background-image: url(../images/mainimg01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/********** css responsive **********/
@media (max-width: 1399px) {

}

@media (max-width: 1199px) {
    .container{width: 100%;}

}

@media (max-width: 991px) {
    .navbar{display: none;}
    .navbarWrap{padding: 20px 20px;}
    .toggle{display: flex; margin-left: auto;}

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}