* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR";
}

ul, li {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap div {
  position: absolute;
}

.navTop {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  padding: 20px;
}
.navTop.active .logo .st0 {
  fill: #AC2B2C;
}
.navTop .logo {
  width: 200px;
  height: 80px;
  margin: 0 auto;
  margin-top: 15px;
}
.navTop .logo .st0 {
  fill: #fff;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.section.page1 .txtWrap {
  transform: translateY(100px);
  transition: 0.3s;
  opacity: 0;
}
.section.page1 .txtWrap.move {
  transform: translateY(0);
  opacity: 1;
}
.section.page1 #myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.section.page1 .scrollBtn {
  z-index: 2;
  width: 100%;
  height: 100px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section.page1 .scrollBtn .scrollBtn01 {
  margin: 0 auto;
  width: 50px;
  height: 70px;
  -webkit-animation: scrollBtn 1.5s linear infinite alternate;
          animation: scrollBtn 1.5s linear infinite alternate;
}
.section.page1 .scrollBtn .scrollBtn01 .st1 {
  fill: #fff;
}
@-webkit-keyframes scrollBtn {
  100% {
    transform: translateY(20px);
  }
}
@keyframes scrollBtn {
  100% {
    transform: translateY(20px);
  }
}
.section.page2 .owl-nav [class*=owl-]:hover {
  background: #fff;
}
.section.page2 .owl-nav .owl-prev {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-70%);
}
.section.page2 .owl-nav .owl-next {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-70%);
}
.section.page2 .owl-dots {
  display: none;
}
.section.page2 .svgBtnPrev {
  fill: #AC2B2C;
  transform-origin: center;
  transform: rotate(180deg);
  background-color: #333;
}
.section.page2 .svgBtnPrev:hover {
  stroke: #AC2B2C;
  stroke-width: 2;
  fill: #fff;
  background: white !important;
}
.section.page2 .svgBtnNext {
  fill: #AC2B2C;
}
.section.page2 .svgBtnNext:hover {
  stroke: #AC2B2C;
  stroke-width: 1;
  fill: #fff;
}
.section.page2 .owl-item {
  padding-top: 30px;
  transition: 0.3s;
  transform: scale(0.6);
}
.section.page2 .owl-item.center {
  padding-top: 50px;
  transition: 0.3s;
  transform: scale(1);
}
.section.page2 .owl-item div h2, .section.page2 .owl-item div p {
  text-align: center;
}
.section.page2 .owl-item div h2 {
  padding-top: 20px;
  font-family: "Fjalla One";
}
.section.page2 .owl-item div p {
  font-size: 18px;
}
.section.page3 {
  background-image: url(../images/con01_bg01.png);
}
.section.page3 .scrollBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: xScroll 1s infinite alternate;
          animation: xScroll 1s infinite alternate;
}
@-webkit-keyframes xScroll {
  100% {
    bottom: 50px;
  }
}
@keyframes xScroll {
  100% {
    bottom: 50px;
  }
}
.section.page4 {
  background-image: url(../images/bg4.jpg);
}
.section.page4 .container {
  transform: translateY(-100px);
}/*# sourceMappingURL=style.css.map */