* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR";
}

ul, li {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap > div {
  position: absolute;
}

.navTop {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  padding: 20px;
}
.navTop.active .logo .st0 {
  fill: #AC2B2C;
}
.navTop .logo {
  width: 200px;
  height: 80px;
  margin: 0 auto;
  margin-top: 15px;
}
.navTop .logo .st0 {
  fill: #fff;
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.page2 .wrap {
  transform: translateY(-100px);
  transition: 0.3s;
  opacity: 0;
}
.page2 .wrap.move {
  transform: translateY(0);
  opacity: 1;
}

.section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.section.page1 .txtWrap {
  transform: translateY(100px);
  transition: 0.3s;
  opacity: 0;
}
.section.page1 .txtWrap.move {
  transform: translateY(0);
  opacity: 1;
}
.section.page1 #myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.section.page1 .scrollBtn {
  z-index: 2;
  width: 100%;
  height: 100px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section.page1 .scrollBtn .scrollBtn01 {
  margin: 0 auto;
  width: 50px;
  height: 70px;
  -webkit-animation: scrollBtn 1.5s linear infinite alternate;
          animation: scrollBtn 1.5s linear infinite alternate;
}
.section.page1 .scrollBtn .scrollBtn01 .st1 {
  fill: #fff;
}
@-webkit-keyframes scrollBtn {
  100% {
    transform: translateY(20px);
  }
}
@keyframes scrollBtn {
  100% {
    transform: translateY(20px);
  }
}
.section.page2 .owl-nav [class*=owl-]:hover {
  background: #fff;
}
.section.page2 .owl-nav .owl-prev {
  position: absolute;
  left: -80px;
  top: 50%;
  transform: translateY(-70%);
}
.section.page2 .owl-nav .owl-next {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-70%);
}
.section.page2 .owl-dots {
  display: none;
}
.section.page2 .svgBtnPrev {
  fill: #AC2B2C;
  transform-origin: center;
  transform: rotate(180deg);
  background-color: #333;
}
.section.page2 .svgBtnPrev:hover {
  stroke: #AC2B2C;
  stroke-width: 2;
  fill: #fff;
  background: white !important;
}
.section.page2 .svgBtnNext {
  fill: #AC2B2C;
}
.section.page2 .svgBtnNext:hover {
  stroke: #AC2B2C;
  stroke-width: 2;
  fill: #fff;
}
.section.page2 .owl-item {
  padding-top: 30px;
  transition: 0.3s;
  transform: scale(0.6);
}
.section.page2 .owl-item.center {
  padding-top: 50px;
  transition: 0.3s;
  transform: scale(1);
}
.section.page2 .owl-item div h2, .section.page2 .owl-item div p {
  text-align: center;
}
.section.page2 .owl-item div h2 {
  padding-top: 20px;
  font-family: "Fjalla One";
}
.section.page2 .owl-item div p {
  font-size: 18px;
}
.section.page3 {
  background-image: url(../images/con03_bg01.png);
}
.section.page3.active text {
  -webkit-animation: stroke 5s infinite alternate;
          animation: stroke 5s infinite alternate;
}
.section.page3.active .text {
  -webkit-animation: txtAni1 5s alternate infinite forwards;
          animation: txtAni1 5s alternate infinite forwards;
}
.section.page3 div {
  width: 100%;
  height: 100%;
}
.section.page3 div svg {
  font-family: "Fjalla One" sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section.page3 div svg text {
  position: absolute;
  text-transform: uppercase;
  stroke-width: 2;
  stroke: #fff;
  font-size: 5em;
}
@-webkit-keyframes stroke {
  0% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 10%;
    stroke-dasharray: 0 30%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(255, 255, 255);
  }
  80% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
  }
  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(0, 0, 0, 0);
    stroke-dashoffset: -10%;
    stroke-dasharray: 30% 0;
    stroke-width: 0;
  }
}
@keyframes stroke {
  0% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 10%;
    stroke-dasharray: 0 30%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(255, 255, 255);
  }
  80% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 2;
  }
  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(0, 0, 0, 0);
    stroke-dashoffset: -10%;
    stroke-dasharray: 30% 0;
    stroke-width: 0;
  }
}
.section.page3 div .text {
  transform: translateY(120px);
  opacity: 0;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.section.page3 div .text h5 {
  position: absolute;
  color: #fff;
  text-align: center;
  font-size: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@-webkit-keyframes txtAni1 {
  50% {
    transform: translateY(100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0.5;
  }
}
@keyframes txtAni1 {
  50% {
    transform: translateY(100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0.5;
  }
}
.section.page3 .scrollBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: xScroll 1s infinite alternate;
          animation: xScroll 1s infinite alternate;
}
@-webkit-keyframes xScroll {
  100% {
    bottom: 50px;
  }
}
@keyframes xScroll {
  100% {
    bottom: 50px;
  }
}
.section.page4 {
  background-image: url(../images/con04_bg01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section.page4.active .svgbone1 {
  -webkit-animation: b1Ani 3.5s alternate forwards;
          animation: b1Ani 3.5s alternate forwards;
}
.section.page4.active .svgbone2 {
  -webkit-animation: b2Ani 2.5s alternate forwards;
          animation: b2Ani 2.5s alternate forwards;
}
.section.page4.active .objimg01 > img {
  -webkit-animation: objAni 1s alternate infinite linear;
          animation: objAni 1s alternate infinite linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.section.page4.active .objtext01 > h1 {
  -webkit-animation: abjtAni 2.5s alternate forwards;
          animation: abjtAni 2.5s alternate forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.section.page4.active .objtext01 > h5 {
  -webkit-animation: objt02Ani 2.5s alternate forwards;
          animation: objt02Ani 2.5s alternate forwards;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}
.section.page4.active .objtext01 > p {
  -webkit-animation: objt03Ani 2.5s alternate forwards;
          animation: objt03Ani 2.5s alternate forwards;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}
.section.page4 .objimg01 {
  z-index: 1;
  position: absolute;
}
.section.page4 .objimg01 img {
  width: 100%;
  transform: rotate(0deg) translateY(0px);
  transform-origin: center;
}
@-webkit-keyframes objAni {
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes objAni {
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.section.page4 .svgBox {
  z-index: 2;
  position: absolute;
  width: 882px;
  height: 980px;
  transform-origin: center;
}
.section.page4 .svgBox .svgbone1 {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-miterlimit: 10;
  opacity: 1;
  stroke-dasharray: 1850;
  stroke-dashoffset: 1850;
  opacity: 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes b1Ani {
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}
@keyframes b1Ani {
  50% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}
.section.page4 .svgBox .svgbone2 {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
  stroke-miterlimit: 10;
  opacity: 1;
  stroke-dasharray: 2212;
  stroke-dashoffset: 2212;
  opacity: 0;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@-webkit-keyframes b2Ani {
  70% {
    opacity: 0.7;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}
@keyframes b2Ani {
  70% {
    opacity: 0.7;
    stroke-dashoffset: 0;
  }
  100% {
    opacity: 0;
    stroke-dashoffset: 0;
  }
}
.section.page4 .objtext01 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section.page4 .objtext01 h1 {
  z-index: 3;
  font-family: "Noto Sans KR";
  position: absolute;
  color: #fff;
  font-size: 9em;
  font-weight: 700;
  transform: translateY(200px);
  opacity: 0;
}
.section.page4 .objtext01 h5 {
  z-index: 4;
  font-family: "Noto Sans KR";
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-weight: 400;
  transform: translateY(250px);
  opacity: 0;
}
.section.page4 .objtext01 p {
  z-index: 4;
  font-family: "Noto Sans KR";
  position: absolute;
  color: #fff;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  transform: translateY(300px);
  opacity: 0;
}
@-webkit-keyframes abjtAni {
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}
@keyframes abjtAni {
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}
@-webkit-keyframes objt02Ani {
  100% {
    transform: translateY(120px);
    opacity: 0.8;
  }
}
@keyframes objt02Ani {
  100% {
    transform: translateY(120px);
    opacity: 0.8;
  }
}
@-webkit-keyframes objt03Ani {
  100% {
    transform: translateY(220px);
    opacity: 0.6;
  }
}
@keyframes objt03Ani {
  100% {
    transform: translateY(220px);
    opacity: 0.6;
  }
}
.section.page5 {
  background: #003125;
}
.section.page5.bgimg {
  background-image: url(../images/member_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 70%;
}
.section.page5.active .objtext02 > h1 {
  -webkit-animation: abjt02_01Ani 1s alternate forwards;
          animation: abjt02_01Ani 1s alternate forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.section.page5.active .objtext02 > p {
  -webkit-animation: abjt02_02Ani 1s alternate forwards;
          animation: abjt02_02Ani 1s alternate forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.section.page5 .objtext02 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section.page5 .objtext02 h1 {
  font-family: "Noto Sans KR";
  position: absolute;
  font-size: 3em;
  font-weight: 700;
  transform: translateY(500px);
  opacity: 0;
}
@-webkit-keyframes abjt02_01Ani {
  100% {
    transform: translateY(-160px);
    opacity: 1;
  }
}
@keyframes abjt02_01Ani {
  100% {
    transform: translateY(-160px);
    opacity: 1;
  }
}
.section.page5 .objtext02 p {
  font-family: "Noto Sans KR";
  position: absolute;
  font-size: 1.2em;
  font-weight: 200;
  transform: translateY(500px);
  opacity: 0;
}
@-webkit-keyframes abjt02_02Ani {
  100% {
    transform: translateY(-100px);
    opacity: 1;
  }
}
@keyframes abjt02_02Ani {
  100% {
    transform: translateY(-100px);
    opacity: 1;
  }
}
.section.page5 .imgG {
  display: flex;
  gap: 50px;
  transform: translateY(100px);
}
.section.page5 .imgG .imgG01 {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section.page5 .imgG .imgG01 .img {
  position: absolute;
  z-index: 1;
}
.section.page5 .imgG .imgG01 .svgWrap {
  width: 200px;
  height: 300px;
  position: absolute;
  top: -38px;
}
.section.page5 .imgG .imgG01 .svgWrap .fork {
  transform: rotate(0deg);
  transform-origin: 100px 129px;
}
.section.page5 .imgG .imgG01 .svgWrap .nife {
  transform: rotate(0deg);
  transform-origin: 100px 129px;
}
.section.page5 .imgG .imgG02 {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section.page5 .imgG .imgG02 .img {
  position: absolute;
  z-index: 1;
}
.section.page5 .imgG .imgG02 .svgWrap {
  width: 200px;
  height: 300px;
  position: absolute;
  top: -32px;
  left: 9px;
}
.section.page5 .imgG .imgG03 {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section.page5 .imgG .imgG03 .img {
  position: absolute;
  z-index: 1;
}
.section.page5 .imgG .imgG03 .svgWrap {
  width: 200px;
  height: 300px;
  position: absolute;
  top: -32px;
  left: 5px;
}
.section.page5 .imgG .imgG04 {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section.page5 .imgG .imgG04 .img {
  position: absolute;
  z-index: 1;
}
.section.page5 .imgG .imgG04 .svgWrap {
  width: 200px;
  height: 300px;
  position: absolute;
  top: -20px;
  left: 20px;
}
.section.page5 .imgG .imgG07 {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section.page5 .imgG .imgG07 .img {
  position: absolute;
  z-index: 1;
}
.section.page5 .imgG .imgG07 .svgWrap {
  width: 200px;
  height: 300px;
  position: absolute;
  top: -20px;
  left: 0px;
}

@media (max-width: 767px) {
  .section.page4.active .objimg01 > img {
    -webkit-animation: objAni 1s alternate infinite linear;
            animation: objAni 1s alternate infinite linear;
  }
  .section.page4.active .objtext01 > h1 {
    -webkit-animation: abjtAni 2.5s alternate forwards;
            animation: abjtAni 2.5s alternate forwards;
  }
  .section.page4 .svgBox {
    display: none;
  }
  .section.page4 .objtext01 h1 {
    font-size: 2em;
  }
}/*# sourceMappingURL=style.css.map */